:root {
--primary-text-color:#757575;
--title-color: #212121;
--accent-color: #2196F3;
--primary-accent-color: #FFFFFF;
--background-second-color: #2F303A;
--card-sat-gap: 30px;
--card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
--box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,

.p {
margin:0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 1200px;
}

.sections-paragraph{
    color: var(--title-color);
}

body {
    background: var(--primary-accent-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 1.9;
}


/* Page Header */
header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;} 

/* Main Nav */
.main-nav {
    display: flex;
    align-items: center;}

/* Nav list */

.webstudio {
    margin-top: 25px;
    margin-bottom: 25px;

    color:var(--accent-color) ;
    font-family: Raleway, sans-serif  ;
 
    font-size: 26px; 
    line-height: 1.19;
    text-decoration: none; 
}

.logo {
    margin-top: 25px;
    margin-bottom: 25px;

    color: var(--title-color);
    font-family: Raleway, sans-serif;

    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

/* Site Nav */
}
.site-nav {
    display: flex;
    margin-left: 93px;
}
.site-nav .item + .item{
    margin-left: 50px;
}

.site-nav .nav-link{   
    padding-top: 32px;
    padding-bottom: 32px;
    color:var(--title-color) ;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current{
    position: relative;

}
.nav-link.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0px;
 
    background: #2196F3;
    border-radius: 2px;
}

.site-nav .nav-link.current {
    color: var(--accent-color);
}

.site-nav .nav-link:hover,
.site-nav .nav-link:focus {
    color: var(--accent-color);
}

/* Contacts */

.contacts {
    display: flex;
    margin-left: auto;
    list-style: none;
}
.contacts .item + .item {
    margin-left: 30px;
}

.contacts .social{
    display: flex;
    align-items: center;
           
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    gap: 10px;
    line-height: 1.14;
    text-decoration: none;
    fill: #757575;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);}

 .social:hover,
 .social:focus {
    color: var(--accent-color);
    fill: var(--accent-color);}

/* first sections */

.primary-sections {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url(../image/BG/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    outline: 1px solid black;}

.primary-sections .link {
    color: var(--primary-accent-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin-bottom: 40px;
    margin-top: 0;
    padding: 0;}

/*Second sections */
.second-sections {
    padding-top: 94px;
    padding-bottom: 94px;}

.feature-list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;}


.feature-list:last-child {
    margin-right: 0px;}


.group::before{
    display: block;
    content:"";
    height: 120px;
    width: 270px;
    outline: none;
    margin-bottom: 30px;
 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-antena::before {
    background-image: url(../image/Group-1.png);
}
.icon-clock::before {
    background-image: url(../image/Group-2.png);
}
.icon-computer::before {
    background-image: url(../image/Group-3.png);
}
.icon-cosmo::before {
    background-image: url(../image/Group-4.png);
}

.group > .sections-paragraph {
    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 0px;
    margin-bottom: 10px;
}

.group > .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 94px;
    width: 270px;
    margin-right: 30px;
}

.sections-title {
    color: var(--title-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;

    margin-top: 0;
    margin-bottom: 50px;
}

.pictures { 
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    align-items: center;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.photo-pictures {
    margin-right:30px;
    position: relative;
}

.photo-pictures:last-child{
    margin-right: 0;}

.boomerang {
    position: relative;
}

.element {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding: 27px ;
    width: 100%;
    height: 70px;
    
    left: 0px;
    margin: 0;
    bottom: 0px;
    color: var(--primary-accent-color);

    background: rgba(47, 48, 58, 0.8);
}


/* third-sections */

.third-sections {
    background-color: #F5F4FA;
    
    padding-top: 94px;
    padding-bottom: 94px;
}

.work {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-left: 0;
    gap: 30px;
  
}  
.people {
    background-color: #FFFFFF;

    box-shadow: var(--card-shadow);
    padding: 0;
    margin-bottom: 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
} 

.people-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    font-size: 0;
    margin-bottom: 30px;
    fill: #afb1b8; 
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.icon-link:hover,
.icon-link:focus {
    fill: var(--primary-accent-color);
    background-color: var(--accent-color);
}

.third-sections.item:last-child {
    margin-right: 0;
}

.third-sections 
.sections-paragraph {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18; 
}

.third-sections .text {
    text-align: center;

    font-weight: 400;
    font-size: 16px;

    line-height: 1.18;
    margin-top: 0;
    margin-bottom: 16px;
}

.item-img {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
}

/* Four sections */
.four-sections {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}
 
.icon-logo {  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;

    font-size: 0;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding: 16px 32px;
    fill:#AFB1B8 ;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.clients-link:hover svg,
.clients-link:focus svg {
    border-color: var(--accent-color);
    fill: var(--accent-color);
    }

/* buttons */

button {
    font-family: inherit;
    display: inline-block;
    border: 1px solid transparent;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.button.primary {
    align-items: center;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;

    background-color: var(--accent-color);
    color: var(--primary-accent-color);
 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus{
box-shadow: var(--box-shadow);
}

.button-style {
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-left: 0;
    padding-top: 94px;
    margin-bottom: 50px;
    gap: 8px;
}

.button-style:last-child {
    margin-right: 0;
}

.button-type {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 6px 22px;
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    background-color: #F5F4FA;
    color: var(--title-color);  
}

.button-type:hover,
.button-type:focus {
    background-color: var(--accent-color);
    color: var(--primary-accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);  
}

/* _________________________________________________________ */
/* Footer */

/* Navigations */
.foot{
    background-color: var(--background-second-color);
    box-shadow: var(--card-shadow);
    padding-top: 60px;
    padding-bottom: 60px;
}
.foot .container {
    display: flex;
    justify-content: space-between;

}
 .address-container{
    margin-right: 70px;
}
.contacts.footer {
    display: contents;
    font-style: normal; 
}

.logo-link {
    color: var(--primary-accent-color);
    font-family: Raleway, sans-serif;

    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
}

.gps {
    color: var(--primary-accent-color);
    font-size: 14px;
    line-height: 1.7px;
    text-decoration: none;
}

.contacts .title {
    color: rgba(255, 255, 255, 0.6);

    font-size: 14px;
    line-height: 1.7px;
    text-decoration: none;

    margin-top: 0;
    margin-bottom: 9px;
}
.title:hover,
.title:focus {
    color: var(--accent-color);
}

/* Icon connect */
.connect {
    color: var(--primary-accent-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px; 
}

.icon-foot {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    font-size: 0;
    background: rgba(255, 255, 255, 0.1);
    fill: var(--primary-accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
.icon-foot:hover,
.icon-foot:focus {
    fill: var(--primary-accent-color);
    background-color: var(--accent-color) }


/* Mailing list */

.form-footer {
    display: flex;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-submit {
    margin-left: 93px;
}

.form-footer input::placeholder {
    color: var(--accent-text-color);
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-footer input {
    color: var(--accent-text-color);
}

.div-footer {
    position: relative;
}


.btn-styles {
    display: flex;
    align-items: center;
    text-align: center;

    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 1.9;
    padding-left: 28px;
    margin-left: 12px;

    color: var(--primary-accent-color);
    background-color: var(--accent-color);

    border-radius: 4px;
    border: 1px solid transparent;
}

.btn-styles:hover,
.btn-styles:focus {
    box-shadow: var(--box-shadow);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.styles-footer:focus {
    outline: 1px solid var(--accent-color);
}

.email-svg {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 13px;
    right: 28px;
    bottom: 13px;
    fill: var(--primary-accent-color);

}

.mail-id {
    width: 358px;
    height: 50px;
    padding: 0;
   
    background-color: var(--text-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;  
}


/* _______________________________________________________ */


/* Portfolio Page */

.port-item 
.sections-paragraph {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 0;
    text-decoration: none;
    color: #212121}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    margin-top: 4px;
    margin-bottom: 0;
    color:var(--primary-text-color);
    text-decoration: none;
}

.font-images{
    display: flex;
    flex-wrap: wrap;
    list-style:none;

    padding-bottom: 94px;
    padding-left: 0;
    margin: 0;

    margin-left: calc(-1*var(--card-sat-gap));
    margin-top: calc(-1*var(--card-sat-gap));}

.font-images>.port-item{
    flex-basis: calc(100% / 3 - 30px) ;
    margin-left: var(--card-sat-gap);
    margin-top: var(--card-sat-gap);}


/* Card */

.card-link:hover .card-content,
.card-link:focus .card-content {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16); 
}


.card-thumb{
    position: relative;
    overflow: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); }

.card-link:hover .card-hover,
.card-link:focus .card-hover{  
   opacity: 1;
   transform: translate(0);
}

.card-hover {
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0 24px;
    opacity:0;
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(33, 150, 243, 0.9);}
  
.hover-text {  
    font-size: 18px;
    line-height: 1.5;
    color: var(--primary-accent-color);
    font-weight: 400;}

.card-content {
    border: 1px solid #EEEEEE;
    padding: 20px 24px;}


/*Modal window*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    left: 50%;
    top: 50%;
    background: #FFFFFF;

    transform: translate(-50%, -50%) scale(1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}

/* Modal content */

.close {
    position: absolute;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    border-radius: 50%;
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
}
.close:hover,
.close:focus {
    fill: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);}


.title-name { 
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    padding-bottom: 12px;
    color: #212121;
}

.form-filed {   
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}
.form-filed label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: rgba(117, 117, 117, 0.5);
}
.form-filed input {
    margin: 0;
    padding: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    padding-left: 42px;
    
}

.icon-modal {
    position: absolute;
    display: block;
    top:50%;
    left: 12px;
}


textarea {
    resize: none;
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    
}
.form-filed textarea::placeholder {
    font-size: 12px;
    line-height: 1.7;
    color: rgba(117, 117, 117, 0.5);
}

input:focus,
textarea:focus{
    outline: 1px solid var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus+svg{
    fill: var(--accent-color);
}

.btn-submit {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 0 auto;

    background-color: var(--accent-color);
    color: var(--primary-accent-color);
    border-radius: 4px;
}

.btn-submit:hover,
.btn-submit:focus {
    box-shadow: var(--box-shadow);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Modal Ð¡heckbox */

.check-box {
  margin-top: 20px;

  text-align: center;
  align-items: center;
}

.checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    
    margin: 0;
    padding: 0;
    
    border-radius: 2px;
}

.checkbox-input {
    position: absolute;
    width: 1px;
    height: 1px; 
    overflow: hidden;
    position: absolute;
    clip: rect(0,0,0,0);
    margin: 0 auto;
    
}
.checkbox-input:checked + .checkbox-span svg {
    background-color: var(--accent-color);
    border-radius: 2px;
 
    border: none;

}
  .checkbox-input:focus+.checkbox-span  {
   outline: 1px solid var(--accent-color);
}  


.checkbox-span { 
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #FFFFFF;
}

.checkbox-icon{
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 4px;
    padding-right: 2px;
    border-radius: 2px;
    border: 2px solid black;
}

.checkbox-text {
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    font-weight: 400;
 }


.checkbox-text a {
    text-decoration: underline;
}

